/* Custom Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/MacBook\ Air\ -\ 2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fdfbfb;
    filter: contrast(200%);
  }
  
  .create-music h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  .create-music a .fa-solid{
    font-size: 17px;
    border: 2px solid white;
    padding: 16px;
    border-radius: 50%;
    color: black;
    background-color: rgb(247, 245, 242);
}

  .create-music p {
    font-size: 1.1rem;
    line-height: 1.8;
  }