@media only screen and (min-width:200px) and (max-width:575px){
    /*---------------------------------------- top-banner---------------------------------------- */
/*------------------ navigation---------------- */
.top-banner  .navbar-brand img{
    width: 75%;
}
.top-banner  ul li a {
    font-weight: 500;
    font-size: 16px;
}
/*----------------- banner-content---------------- */

.top-banner .banner-content .banner-text h2{
    color: var(--light-color);
    font-size: 20px;
    font-family: "Irish Grover", system-ui;
    text-align: center;
    line-height: 21px;
}
.top-banner .banner-content .banner-text h2 span{
    font-size: 45px;
    line-height: 38px;
}
.top-banner .banner-content .banner-text h3{
    display: none;

}
.top-banner .banner-content .banner-text h4{
    text-align: center;
    display: block;
    color: var(--light-color);
    font-family: "Inria Serif", serif;
    font-size: 13px;
    line-height: 17px;

}
/*---------------------------------------- context-img---------------------------------------- */
.context-img .container img {
    box-shadow: 0 2px 5px 0 var(--light-color);
    border-radius: 20px;
}
/*---------------------------------------- song-list---------------------------------------- */
.song-list h3{
    font-size: 18px;
}

.song-list .owl-carousel .item {
    box-shadow: 0px 1px 2px 1px rgb(155, 6, 6);
    border-radius: 13px;
    margin: 0px;
}
.song-list .owl-carousel .item img{
    width:57px;
    height: 48px;
}
.song-list .owl-carousel .item h3{
    padding: 7px 0 3px 0;
    font-size: 10px;
    color: rgb(241, 187, 115);
    text-shadow:0px 3px 5px rgb(204, 17, 17);
}
.song-list .owl-carousel .item button{
    padding: 2px 19px;
    margin-top: 5px;
    border-radius: 7px;
    font-size: 11px;
}

.song-list .owl-carousel .item button:hover{
    color: rgb(241, 187, 115);
    background-color: #332c55;
}
/*---------------------------------------- describe---------------------------------------- */
.describe {
    box-shadow: 0 0 7px brown;
    border-radius: 20px;
    height: 160px;
}

.describe .describe-text h2{
    font-size:31px ;
    line-height: 27px;
    box-shadow: 0px 0px 0px 0px transparent;

}
.describe .describe-button h4{
    font-size: 18px;
}
.describe .describe-button button{
    padding: 6px 13px;
    font-size: 15px;
}
.describe .describe-button button:hover{
    color:darkblue ;
    background-color: beige;

}
/*---------------------------------------- founder---------------------------------------- */
.founder{
    background-image: url(../images/Frame\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(150%);
    padding-top: 27px;
}
.founder .row h5{
    text-shadow: -2px 1px 1px #E84141;
    font-size: 17px;
    padding: 11px 0px;

}
/*---------------------------------------- create---------------------------------------- */
.create{
    height: 178px;
}
.create .container button{
    bottom: 12%;
    left: 14%;
    padding: 6px 8px;
    border-radius: 15px;
    box-shadow: -1px 2px 9px #FC2424;
    font-size: 12px;
}
.create .container button:hover{
    background-color:#ecf0e1 ;
    box-shadow: -5px 4px 11px #ecf0e1;

}
/*---------------------------------------- fotter---------------------------------------- */

.footer-section ul li {
    margin-bottom: 0px;
}
.newsletter-form button {
    padding: 8px 13px;
}
.footer-section p{
    font-size: 15px;
}
.footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
}

.footer-section {
        margin-bottom: 30px;
}

.social-icons {
        justify-content: start;
}

.newsletter-form {
        flex-direction: column;
}

.newsletter-form button {
        width: 100%;
}
.footer-bottom {
    margin-top: 0px;
}

}
