/* Custom Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .privacy-policy {
    background-color: #fff;
  }
  .privacy-policy a .fa-solid{
    font-size: 17px;
    border: 2px solid rgb(8, 8, 8);
    padding: 16px;
    border-radius: 50%;
    color: black;
}
.privacy-policy a .fa-solid:hover {
    color: white;
    background-color: #333;
}
  
  .privacy-policy h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }
  
  .privacy-policy h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .privacy-policy p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }
  
  .privacy-policy ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .privacy-policy ul li {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
  }
  
  .privacy-policy a {
    color: #007bff;
    text-decoration: none;
  }
  
  .privacy-policy a:hover {
    text-decoration: underline;
  }