@media only screen and (min-width:200px) and (max-width:575px){
    .content .content2 audio{
        width: 270px;
        height: 40px;
    }
    header h3{
        padding-top: 0px;
        font-size:29px ;
        line-height: 33px;
    }
    header a .fa-solid{
        font-size: 22px;
        border: 2px solid white;
        padding: 7px;
        margin-top: 10px;
        border-radius: 100%;
        background-color: white;
    }
    
    .content {
        height: 500px;
        position: relative;
    }
    .content .content2 {
    position: absolute;
    top: 23%;
    left: 10%;
    padding: 12px;
    }
    .content .content2 h4{
        font-size: 21px;
        margin-bottom: 10px;
    
    }
    .content .content2 img{
        width: 180px;
    }
}